body {
  all: unset;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 20px 0px 0px 30px;
}

.button{
  font-family: 'Lato', sans-serif;
  color: #979A9A;
  padding:20px; 
  color: #979A9A;
}

#home {
  margin: 0px 800px 0px 0px;
  padding-left: 0px;
  background-image: logo-placeholder.jpg;
  text-decoration: none;
}

a:hover {
  text-decoration:underline #1ABC9C;
}

content {
    margin-top: 35px;
  }  
