<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../css/base.css">
        <link rel="stylesheet" type="text/css" href="../../index.css">
        <link rel="stylesheet" type="text/css" href="../../login.css">
        <link rel="stylesheet" type="text/css" href="../../signup.css">
        <title>yo blog</title>
    </head>

    {% with messages = get_flashed_messages() %}

    <body>
        <nav>
            <a href='/'> Home Page </a> 
            <br><br>
            <a href='/blog'> Main Blog </a> 
            <br><br>
            <a href='/newpost'> Make a New Entry </a>
            <br><br>
            <a href='/login'> Login </a>
            <br><br>
            <a href='/logout'> Logout </a>
        </nav>
        
        <br><br><br><br>

        {% block content %}
        {% endblock %}
    </body>
    {% endwith %}
</html>