{% extends 'base.html' %}

{% with messages = get_flashed_messages() %}
    <ul>
    {% for message in messages %}
        <li>{{message}}</li>
    {% endfor %}
    </ul>
{% endwith %}

{% block content %}
    <form action='/signup' method='post'>
    <label> Username </label>
    <input type='text' name='username'>
    {{u_error}}
    
    <label> Password </label>
    <input type='password' name='password'>
    {{p_error}}

    <label> Verify Password </label>
    <input type='password' name='verify'>
    {{v_error}}

    <input type='submit'>
{% endblock %}