input {
    display: block;
    padding: 10px 80px 0px 0px;
    margin: 20px 20px 20px 80px;
    border: none;
    border-bottom: 1px solid #B3B6B7;
    font-size: 18px;
  }
  
  input:focus {
    outline: none;
    background: #EAFAF1;
    border-radius: 5px;
  }
  
  input:hover {
    background: #EAFAF1;
  }
  
  label {
    margin: 20px 20px 20px 80px;
    font-family: 'Verdana';
    color: #7F8C8D;
  }
  
  .submit {
    background-color: #FFFFFF;
    border: 1px solid #CACFD2;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    text-align: center;
    color: #7F8C8D;  
  }

textarea {
  width: 295px;
  height: 300px;
  padding: 30px;
  margin:20px 10px 20px 0px !important;
  
  
 
}